{{#each this}}
<li class="film-gallery-item">
    <img class="film-img" src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{title}}" data-id="{{id}}" />
    <h3 class="film-name">{{title}}</h3>
    <div class="film-stat">
        <p class="film-description">
            {{#each genre_ids}}
            <span>{{this}}</span>
            {{/each}}
            {{release_date}}
        </p>
    </div>
</li>
{{/each}}