<img src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{title}}" class="movie__cover">
<div class="movie__containerInfo">
  <h1 class="movie__title">{{title}}</h1>
  <ul class="movie__characteristics">
    <li>
      <span>Vote / Votes</span>
      <span class="movie__characteristics--orange">{{vote_average}}</span>
      /
      <span class="movie__characteristics--grey">{{vote_count}}</span>
    </li>
    <li>
      <span>Popularity</span>
      <span class="movie__characteristics--black">{{popularity}}</span>
    </li>
    <li>
      <span>Original Title</span>
      <span class="movie__characteristics--black">{{original_title}}</span>
    </li>
    <li>
      <span>Genre</span>
      <span class="movie__characteristics--black">
        {{#each this.genres}}{{name}}{{/each}}
      </span>
    </li>
  </ul>
  <h2 class="movie__title movie__title--h2">About</h2>
  <p class="movie__description">{{overview}}</p>
</div>