{{#each this}}
<li class="film-gallery-item">
    <img class="film-img" src="https://api.themoviedb.org/3/movie/popular{{poster_path}}" alt="{{title}}"
        data-id="{{id}}" />
    <h3 class="film-name">{{title}}</h3>
    <div class="film-stat">
        <p class="film-description">
            {{#each genres}}
            <span>{{genre_ids}}</span>
            {{/each}}
            {{release_date}}
        </p>
    </div>
</li>
{{/each}}