{{#each this}}
<li class="card__container">
    <img class="home__list-item" src="{{poster_path}}" alt="{{title}}" data-id="{{id}}">
    <h2 class="card__title">{{title}}</h2>
    <p class="card__film-info">{{#each genres}}<span>{{this.name}}</span> {{/each}}| {{release_date}}
        <span class="popularity__film">{{vote_average}}</span>
    </p>
</li>
{{/each}}